@charset "UTF-8";
/* CSS Document */

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none;
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: Constantia, Arial, sans-serif;
	font-size: 12px;
	position: relative;
	color: #4F4F4F;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.main-logo-m {
	height: 65px;
}

#header-con {
	background-image: linear-gradient(#29EAFF, #AAFFFD);
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
	cursor: pointer;
}

.burger {
	height: 7px;
	background-color:#4F4F4F;
	display: block;
	margin-bottom: 12px;
	margin-top: 12px;
}

/* index page */

#hero-con {
	background-color: #aaaaaa;
	background: url("../images/mobile_index/monika_top_story_m.jpg");
	height: 800px;
}

#hero-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 380px;
	text-align: left;
	color: #f5f5f5;
}

#hero-text h5 {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0;
	font-size: 40px;
}

#hero-text p {
	font-size: 28px;
	margin-top: 20px;
	margin-left: 10px;
}

#image-slider-con {
	background-color: #29EAFF;
	/* Remove as content will dictate height */
	height: 740px;
	position: relative;
}

#image-slider-con h2 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
	font-size: 48px;
}

#image-slider-con h5 {
	text-align: left;
	font-size: 40px;
	padding-left: 10px;
	padding-right: 30px;
	margin-top: 10px;
	margin-bottom: 0;
}

#image-slider-con p {
	font-size: 28px;
	text-align: left;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
	cursor: pointer;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
	cursor: pointer;
}

#about-us-con h2 {
	text-align: center;
	padding-top: 30px;
	margin-top: 10px;
	font-size: 48px;
}

#about-us-text-con {
	background-image: linear-gradient(#AAFFFD, #29EAFF);
}

#about-us-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 610px;
}

#about-us-text h2 {
	margin-top: 5px;
	margin-bottom: 10px;
}

#about-us-text p {
	font-size: 28px;
	padding-top: 15px;
}

.about-us-photo {
	grid-column: 1/-1;
	display: block;
	margin: 20px auto 0 auto;
}

#contact-us-con {
	margin-top: 30px;
}

#contact-text {
	grid-column: 1/-1;
	height: 750px;
	text-align: left;
}

#contact-text h5 {
	font-size: 48px;
}

#contact-text p, #contact-text li {
	font-size: 28px;
	padding-top: 12px;
}

#contact-text h5, #contact-text p {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 40px;
}

#contact-form {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 689px;
	width: 428px;
	text-align: center;
	display: flex;
}

form {
	background-image: radial-gradient(#AAFFFD,#29EAFF);
	width: 428px;
	grid-column: 1/-1;
}

form input {
	width: 340px;
	height: 79px;
	text-align: left;
	font-size: 28px;
	margin-top: 10px;
	border: solid 1px #4F4F4F;
}

form textarea {
	width: 350px;
	height: 250px;
	text-align: left;
	font-size: 28px;
	border: solid 1px #4F4F4F;
}

#submit {
	width: 184px;
	height: 45px;
	color: #4F4F4F;
	background-color: #f2f212;
	display: block;
	text-align: center;
	margin-left: 37px;
	border: solid 1px #4F4F4F;
}


/*Common page elements  */

#footer-con_m {
	height: 350px;
	background-image: linear-gradient(#AAFFFD, #29EAFF);
}

#footer-box {
	margin-top: 40px;
	/* Remove as content will dictate height */
	height:45px;
	grid-column: 1/3;
}

#footer-newsletter {
	margin-top: 60px;
	/* Remove as content will dictate height */
	height:100px;
	grid-column: 1/-1;
}

#footer-newsletter p {
	font-size: 28px;
	padding-bottom: 10px;
	text-align: left;
}

#footer-newsletter input {
	width: 97.5%;
	height: 50px;
	text-align: left;
	font-size: 28px;
	border: solid 1px #4F4F4F;
}

#footer-newsletter2 {
	margin-top: 20px;
	height:40px;
	grid-column: 1/3;
	background-color: #ddd;
}

#footer-newsletter2 input {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	color: #4F4F4F;
	background-color: #f2f212;
	border: solid 1px #4F4F4F;
}

/* gallery page */

#hero-gallery-con {
	background-color: #aaaaaa;
	background: url("../images/mobile_gallery/hero_monika_m.jpg");
	height: 500px;
}

#hero-gallery-text h5 {
	font-size: 48px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-block-end: 0;
}

#hero-gallery-text p {
	font-size: 28px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}


#hero-gallery-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 350px;
	color: #f5f5f5;
}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding-top: 80px;
}

.dot {
	background-color: #f5f5f5;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
  }

#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 48px;
}

.gallery-box {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
	position: relative;
}

.character_name {
	text-align: center;
	font-size: 40px;
	margin-top: 3px;
	margin-bottom: 0;
}

.gallery_text {
	text-align: center;
	font-size: 26px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;
}

.source {
	text-align: center;
	font-size: 20px;
	position: absolute;
	bottom: 3px;
	left: 0;
	right: 0;
}

#more {
	grid-column: 4/-1;
	font-size: 28px;
	padding-bottom: 10px;
	color: blue;
}

#more:hover {
	text-decoration: underline;
}

.lightbox {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.85);
	margin:0 auto;
  }
  
  .lb_close {
	color: rgb(255, 255, 255)!important;
	font-size: 48px;
	text-decoration: none;
	position: sticky;
	top: 10px;
	left: 97%;
  }
  
  .lb_close:hover {
	opacity: 0.5; 
  }

  .lightbox:target {
	display: block
  }

  .lightbox p {
	text-align: center;
	color: white;
	font-size: 26px;
	margin-left: 150px;
	margin-right: 150px;
  }

  #lightbox1_m p, #lightbox2_m p, #lightbox3_m p, #lightbox4_m p, #lightbox5_m p, #lightbox6_m p {
	padding-top: 15px;
  }

  #chatnoirlb_m, #deadpoollb_m, #kiripoollb_m, #kiritolb_m, #linklb_m, #lightninglb_m {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  }

  #kiripoollb_m:hover {
	content: url(../images/lightbox_pics/kiripool_closeup2_m.jpg);
  }