/* Key Codes For Me */
/*border: 1px solid black; */

/* Selectors Start Here */
* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

header {
    padding-top: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(157, 255, 255);
    
}

hr {
    color: red;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

ul li a {
    text-decoration: none;
    color: pink;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav ul li a:visited {
    color: rgb(203, 203, 203);
}

/* Classes Start Here */
.hidden {display: none;}

.soc_med {
    text-align: right;
    margin-right: 30px;
    position: relative;
}

/* IDs Start Here */
#top_nav, #bottom_nav {
    text-align: center;
}

#wrapper {
	width: 1200px;
	margin: 0px auto;
}

#read_more {
    border: solid;
    border-color: black;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    background-color: white;
    text-align: center;
    padding: 13px;
    text-decoration: none;
}

#read_more a {
    text-decoration: none;
}

#read_more a:visited {
    text-decoration: none;
    color: orange;
}