@charset "UTF-8";
/* CSS Document */

/* Common Selectors*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none;
	margin: 0; 
	padding: 0; 
}

body {
	font-family: Constantia, Arial, sans-serif;
	font-size: 12px;
	position: relative;
	color: #4F4F4F;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

/* Common Classes */

.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.main_logo_m {
	height: 65px;
}

.burger {
	height: 7px;
	background-color:#4F4F4F;
	display: block;
	margin-bottom: 12px;
	margin-top: 12px;
}

.hidden {
	display: none;
}

/* Common IDs */

#container {
	margin: 0 auto;
	width: 428px;
}

#header-con {
	background-image: linear-gradient(#29EAFF, #AAFFFD);
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
	cursor: pointer;
}

#footer-con_m {
	height: 350px;
	background-image: linear-gradient(#AAFFFD, #29EAFF);
}

#footer-box {
	margin-top: 40px;
	height:45px;
	grid-column: 1/3;
}

#footer-newsletter {
	margin-top: 60px;
	height:100px;
	grid-column: 1/-1;
}

#footer-newsletter p {
	font-size: 28px;
	padding-bottom: 10px;
	text-align: left;
}

#footer-newsletter input {
	width: 97.5%;
	height: 50px;
	text-align: left;
	font-size: 28px;
	border: solid 1px #4F4F4F;
	font-family: Arial, Constantia, sans-serif;
}

#footer-newsletter2 {
	margin-top: 20px;
	height:40px;
	grid-column: 1/3;
	background-color: #ddd;
}

#footer-newsletter2 input {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	color: #4F4F4F;
	background-color: #f2f212;
	border: solid 1px #4F4F4F;
}

/* Index Page */

/* Index General Selectors */

form {
	background-image: radial-gradient(#AAFFFD,#29EAFF);
	width: 428px;
	grid-column: 1/-1;
}

form input {
	width: 340px;
	height: 79px;
	text-align: left;
	font-size: 28px;
	margin-top: 10px;
	border: solid 1px #4F4F4F;
	font-family: Arial, Constantia, sans-serif;
}

form textarea {
	width: 350px;
	height: 250px;
	text-align: left;
	font-size: 28px;
	border: solid 1px #4F4F4F;
	font-family: Arial, Constantia, sans-serif;
}

/* Index Classes */

.about-cosplayer-photo {
	grid-column: 1/-1;
	display: block;
	margin: 20px auto 0 auto;
}

/* Index IDs */

#hero-con {
	background-color: #aaaaaa;
	background: url("../images/mobile_index/monika_top_story_m.jpg");
	height: 800px;
}

#hero-text {
	grid-column: 1/-1;
	height: 380px;
	text-align: left;
	color: #f5f5f5;
}

#hero-text #just_lightning_m {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0;
	font-size: 40px;
	font-weight: bold;
}

#hero-text p {
	font-size: 28px;
	margin-top: 20px;
	margin-left: 10px;
}

#image-slider-con {
	background-color: #29EAFF;
	height: 740px;
	position: relative;
}

#image-slider-con h2 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
	font-size: 48px;
}

#previous_story_1 #story_m {
	text-align: left;
	font-size: 40px;
	padding-left: 10px;
	padding-right: 30px;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
}

#previous_story_1 p {
	font-size: 28px;
	text-align: left;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
	cursor: pointer;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
	cursor: pointer;
}

#about-cosplayer-con h2 {
	text-align: center;
	padding-top: 30px;
	margin-top: 10px;
	font-size: 48px;
}

#about-cosplayer-text-con {
	background-image: linear-gradient(#AAFFFD, #29EAFF);
}

#about-cosplayer-text {
	grid-column: 1/-1;
	height: 610px;
}

#about-cosplayer-text h2 {
	margin-top: 5px;
	margin-bottom: 10px;
}

#about-cosplayer-text p {
	font-size: 28px;
	padding-top: 15px;
}

#contact-cosplayer-con {
	margin-top: 30px;
}

#contact-text {
	grid-column: 1/-1;
	height: 780px;
	text-align: left;
}

#contact-text p:first-of-type {
	font-size: 48px;
	font-weight: bold;
}

#contact-text p, #contact-text li {
	font-size: 28px;
	padding-top: 12px;
}

#contact-text p {
	margin-top: 10px;
	padding-left: 40px;
}

#contact-form {
	grid-column: 1/-1;
	height: 689px;
	width: 428px;
	text-align: center;
	display: flex;
}

#submit {
	width: 184px;
	height: 45px;
	color: #4F4F4F;
	background-color: #f2f212;
	display: block;
	text-align: center;
	margin-left: 37px;
	border: solid 1px #4F4F4F;
}

/* Gallery Page */

/* Gallery Page Classes */

.dot {
	background-color: #f5f5f5;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
  }

  .gallery-box {
	grid-column: 1/-1;
	height: 507px;
	position: relative;
	border-left: 1px solid #4F4F4F;
	border-right: 1px solid #4F4F4F;
}

.gallery-box:last-of-type {
	border-bottom: 1px solid #4F4F4F;
}

.character_name {
	text-align: center;
	font-size: 40px;
	margin-top: 3px;
	margin-bottom: 0;
	font-weight: bold;
}

.gallery_text {
	text-align: center;
	font-size: 26px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 12px;
}

.source {
	text-align: center;
	font-size: 20px;
}

.lightbox {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.85);
	margin:0 auto;
  }
  
.lb_close {
	color: rgb(255, 255, 255)!important;
	font-size: 48px;
	text-decoration: none;
	position: sticky;
	top: 10px;
	left: 97%;
}
  
.lb_close:hover {
	opacity: 0.5; 
}

.lightbox:target {
	display: block
}

.lightbox p {
	text-align: center;
	color: white;
	font-size: 26px;
	margin-left: 150px;
	margin-right: 150px;
	padding-top: 15px;
}

.mobile_lightbox {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

/* Gallery Page IDs */

#hero-gallery-con {
	background-color: #aaaaaa;
	background: url("../images/mobile_gallery/hero_monika_m.jpg");
	height: 500px;
}

#hero-gallery-text p:first-of-type {
	font-size: 48px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-block-end: 0;
	font-weight: bold;
}

#hero-gallery-text p {
	font-size: 28px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#hero-gallery-text {
	grid-column: 1/-1;
	height: 350px;
	color: #f5f5f5;
}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding-top: 80px;
}

#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 48px;
}

#more {
	grid-column: 4/-1;
	font-size: 28px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: blue;
}

#more:hover {
	text-decoration: underline;
}

#kiripoollb_m:hover {
	content: url(../images/lightbox_pics/kiripool_closeup_m.jpg);
}