@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0;
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

.grid {
	padding-left: 15px;
	padding-right: 15px;
	display: grid;
	grid-template-columns: repeat(12, 70px);
 }
 

/*html selectors*/

body {
	font-family: Constantia, Helvetica, Arial, sans-serif;
	font-size: 12px;
	position: relative;
	color: #4F4F4F;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}

.logos {
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.logos img {
	height: 50px;
	padding: 8px;
}

.active.active {
	padding-bottom: 8px;
	border-bottom: solid #4f4f4f 5px;
 }

.youtube {
	width: 75px;
}

ul li {
	font-size: 40px;
	justify-content: center;
   	align-items: center;
   	display: inline-flex;
	margin-left: 60px;
}

ul li a {
	color: #4f4f4f;
}

ul li:not(.active) a:hover {
	text-decoration: underline;
}

ul li a:visited {
	color: none;
}

a:visited {
	color: inherit;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
}

.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

#header-con {
	background-image: linear-gradient(#29EAFF, #AAFFFD);
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-box1 {
	grid-column: 1/3;
	height: 80px;
}

.main-logo {
	height: 75px;
}

#main-nav {
	grid-column: 3/11;
	height: 80px;
	display: inline-flex;
	font-weight: bold;
}

ul {
	padding: 0;
}

ul li:first-of-type:not(#contact_list li) {
	margin-left: 0;
}

#header-box2 {
	grid-column: 11/-1;
	height: 80px;
}

/* Specific to index page desktop  */

#hero {
	margin-top: 100px;
}

#hero-text {
	grid-column: 1/8;
	height: 582px;
	font-size: 28px;
}

#hero-text p {
	padding-bottom: 40px;
}

#hero-text h4 {
	font-size: 48px;
}

#hero-image {
	grid-column: 8/-1;
	height: 582px;
}

#previous {
	margin-top: 100px;
	margin-bottom: 100px;
}

#previous h2 {
	grid-column: 1/-1;
	text-align: center;
	font-size: 40px;
}

#peach_cos {
	grid-column: 1/5;
	height: 507px;
	text-align: left;
}

#serena_lillie {
	grid-column: 5/9;
	height: 507px;
	text-align: left;
}

#kiripool_home {
	grid-column: 9/-1;
	height: 507px;
	text-align: left;
}

#peach_cos p, #serena_lillie p, #kiripool_home p {
	font-size: 24px;
	margin-left: 10px;
	margin-right: 10px;
}

#peach_cos h5, #serena_lillie h5, #kiripool_home h5 {
	font-size: 40px;
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 3px;
	padding-bottom: 20px;
}

.product-box {
	background-color: #29EAFF;
}

#about-con {
	background-color: #29EAFF;
  	background-image: linear-gradient(to bottom right, #29EAFF, #AAFFFD);
	padding-top: 10px;
	padding-bottom: 10px;
}

#about-title {
	text-align: center;
	font-size: 40px;
}

#about-text {
	grid-column: 1/8;
	height: 700px;
	font-size: 40px;
}

#about-text p {
	margin-right: 130px;
	padding-top: 70px;
}

#about-image {
	grid-column: 8/-1;
	height: 700px;
}

#contact {
	margin-top: 100px;
	margin-bottom: 100px;
}

#contact-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
	text-align: left;
	font-size: 28px;
}

#contact-text p {
	padding-left: 85px;
	padding-top: 40px;
}

#free {
	font-size: 48px;
	padding-top: 30px;
	padding-bottom: 50px;
}

#contact-form {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
	position: relative;
}

#contact_list li {
	font-size: 28px;
	display: list-item;
	text-align: left;
	padding-bottom: 20px;
}

#contact_list ul li {
	margin-left: 70px;
}

#contact_list { 
	padding-left: 1.5em !important; 
}

form {
	border: 2px solid;
	background-color: #29EAFF;
	width: 674px;
	height: 725px;
}

form input {
	width: 586px;
	height: 79px;
	text-align: left;
	font-size: 28px;
	margin-top: 30px;
	margin-left: 40px;
	border: solid 1px #4F4F4F;
}

form textarea {
	width: 586px;
	height: 190px;
	text-align: left;
	font-size: 28px;
	margin-left: 40px;
	margin-top: 10px;
	border: solid 1px #4F4F4F;
}

#submit {
	width: 184px;
	height: 45px;
	color: #4F4F4F;
	background-color: #f2f212;
	display: block;
	text-align: center;
	margin-left: 40px;
	border: solid 1px #4F4F4F;
}

#inquiry {
	display: block;
}

#submit2 {
	background-color: #f2f212;
}

/*Common page elements  */

#footer-con {
	background-image: linear-gradient(#AAFFFD, #29EAFF);
	padding-top: 50px;
	padding-bottom: 20px;
}

#footer-logo {
	grid-column: 1/3;
	height: 80px;
}

#footer-nav {
	grid-column: 3/-1;
	height: 80px;
	margin-bottom: 100px;
	font-weight: bold;
}

#footer-nav li {
	padding-top: 10px;
	padding-left: 50px;
}

#footer-nav li:first-of-type {
	padding: 0;
}

#footer-newsletter1 {
	grid-column: 1/5;
	font-size: 32px;
	padding-bottom: 10px;
	font-weight: bold;
}

#footer-newsletter2 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 80px;
}

#footer-newsletter2 input {
	width: 100%;
	height: 75px;
	text-align: left;
	font-size: 28px;
}

#footer-newsletter3 {
	grid-column: 5/7;
	height: 80px;
}

#footer-newsletter3 input {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 28px;
}

#footer-social {
	grid-column: 11/-1;
	height: 80px;
}


/* gallery page */

#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("../images/desktop_gallery/hero_3cosplays.jpg");
	height: 580px;
}

#gallery h2 {
	font-size: 40px;
	padding: 30px;
}

#gallery-text {
	grid-column: 1/9;
	height: 200px;
	margin-top: 100px;
	color: #f5f5f5;
}

#gallery-controls {
	margin-top: 200px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

#welcome {
	font-size: 48px;
	text-align: left;
	padding-bottom: 30px;
}

#welcome-text {
	font-size: 42px;
	text-align: left;
}

.dot {
	background-color: #f5f5f5;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
  }

#just_monika {
	text-align: center;
	font-size: 30px;
	margin-left: 75px;
	margin-right: 75px;
	padding-top: 20px;
}

.gallery-box {
	grid-column: span 4 / span 4;
	height: 507px;
	margin-bottom: 20px;
	position: relative;
}

.character_name {
	text-align: center;
	font-size: 40px;
	margin-top: 3px;
	margin-bottom: 0;
}

.gallery_text {
	text-align: center;
	font-size: 30px;
	margin-left: 55px;
	margin-right: 55px;
	padding-top: 20px;
}

.gallery_text2 {
	text-align: center;
	font-size: 30px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 20px;
}

.source {
	text-align: center;
	font-size: 24px;
	position: absolute;
	bottom: 3px;
	left: 0;
	right: 0;
}

.lightbox {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.85);
	margin:0 auto;
  }
  
  .lb_close {
	color: rgb(255, 255, 255)!important;
	font-size: 48px;
	text-decoration: none;
	position: sticky;
	top: 10px;
	left: 97%;
  }
  
  .lb_close:hover {
	opacity: 0.5; 
  }

  .lightbox:target {
	display: block;
  }

  .lightbox p {
	display: block;
	text-align: center;
	color: white;
	font-size: 28px;
	margin-left: 150px;
	margin-right: 150px;
  }

  #lightbox1 p, #lightbox2 p, #lightbox3 p, #lightbox4 p, #lightbox6 p, #lightbox7 p, #lightbox9 p, #lightbox12 p, #lightbox13 p, #lightbox15 p {
	padding-top: 15px;
  }

  #lightbox7 span {
	color: red;
  }

  #lightbox7 span span {
	font-family: Rubik Glitch;
  }

  #lightbox5 p, #lightbox8 p, #lightbox11 p,  #lightbox14 p:first-of-type {
	text-align: left;
	padding-top: 300px;
  }

  #lightbox14 p {
	text-align: left;
  }

  #lightbox5 .credit, #lightbox8 .credit, #lightbox11 .credit, #lightbox14 .credit {
	padding-top: 15px;
  }

  #lightbox10 article a:hover {
	text-decoration: underline;
  }

  #lightbox10 p {
	text-align: center;
	padding-top: 300px;
  }

  #lightbox12 #creepy-text:hover {
	font-family: Rubik Glitch;
  }

  #lightbox16 article a {
	position: absolute;
	font-size: 28px;
	top: 10px;
	left: 10px;
	padding-top: 10px;
  }

  .lightbox iframe {
	width: 60%;
	margin-left: 21%;
	padding-top: 30px;
  }

  #monikalb, #deadpoollb, #lightninglb, #chatnoirlb, #kiripoollb, #kiritolb, #redlb, #slendermanlb, #spidermanlb, #zeldalb {
	height: 50%;
	width: 50%;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  }

  #redlb:hover {
	content: url(../images/lightbox_pics/red_cosplay_bw.jpg);
  }

  #kiripoollb:hover {
	content: url(../images/lightbox_pics/kiripool_closeup2.jpg);
  }

  #slendermanlb:hover {
	content: url(../images/lightbox_pics/slenderman_cosplay_park2.jpg);
  }

  #peachlb, #rosalinalb, #linklb, #serenalb, #starlordlb {
	height: 30%;
	width: 30%;
	padding-left: 100px;
	float: left;
	padding-right: 50px;
	display: block;
  }