@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: Constantia, Helvetica, Arial, sans-serif;
	font-size: 12px;
	position: relative;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.main-logo-m {
	height: 65px;
}

#header-con {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
}

.burger {
	height: 16px;
	background-color:#aaa;
	display: block;
	margin-bottom: 10px;
}

/* index page */

#hero-con {
	background-color: #aaaaaa;
	background: url("https://via.placeholder.com/428x458");
	height: 800px;
}

#hero-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 380px;
	text-align: left;
}

#hero-text h5 {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0;
	font-size: 40px;
}

#hero-text p {
	font-size: 28px;
	margin-top: 20px;
	margin-left: 10px;
}

#image-slider-con {
	background-color: #dddddd;
	/* Remove as content will dictate height */
	height: 740px;
	position: relative;
}

#image-slider-con h2 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
	font-size: 48px;
}

#image-slider-con h5 {
	text-align: center;
	font-size: 40px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 10px;
	margin-bottom: 0;
}

#image-slider-con p {
	font-size: 28px;
	text-align: left;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#about-us-con h2 {
	text-align: center;
	padding-top: 30px;
	margin-top: 10px;
	font-size: 48px;
}

#about-us-text-con {
	background-color: #dddddd;
}

#about-us-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 610px;
}

#about-us-text h2 {
	margin-top: 5px;
	margin-bottom: 10px;
}

#about-us-text p {
	font-size: 28px;
	padding-top: 15px;
}

.about-us-photo {
	grid-column: 1/-1;
	display: block;
	margin: 20px auto 0 auto;
}

#contact-us-con {
	margin-top: 100px;
	margin-bottom: 30px;
}

#contact-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 700px;
	margin-bottom: 30px;
	text-align: left;
}

#contact-text h5 {
	font-size: 48px;
}

#contact-text p, #contact-text li {
	font-size: 28px;
}

#contact-text h5, #contact-text p {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 40px;
}

#contact-form {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 580px;
}

form {
	background-color: orange;
	width: 388px;
}

form input {
	width: 300px;
	height: 50px;
	text-align: left;
	font-size: 28px;
	margin-top: 15px;
	margin-bottom: 15px;
}

form textarea {
	width: 300px;
	height: 250px;
	text-align: left;
	font-size: 28px;
}

#submit {
	width: 100px;
	height: 50px;
	text-align: center;
}


/*Common page elements  */

#footer-con_m {
	margin-top: 130px;
	height: 410px;
	background-color: #aaa;
}

#footer-con_m2 {
	height: 410px;
	background-color: #aaa;
}

#footer-box {
	margin-top: 40px;
	/* Remove as content will dictate height */
	height:45px;
	grid-column: 1/3;
	background-color: #ddd;
}

#footer-newsletter {
	margin-top: 100px;
	/* Remove as content will dictate height */
	height:100px;
	grid-column: 1/-1;
	background-color: #ddd;
}

#footer-newsletter p {
	font-size: 28px;
	padding-bottom: 10px;
	text-align: left;
}

#footer-newsletter input {
	width: 97.5%;
	height: 50px;
	text-align: left;
	font-size: 28px;
}

#footer-newsletter2 input {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 28px;
}

/* gallery page */

#hero-gallery-con {
	background-color: #aaaaaa;
	background: url("https://via.placeholder.com/428x458");
	height: 480px;
}

#hero-gallery-text h5 {
	font-size: 48px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-block-end: 0;
}

#hero-gallery-text p {
	font-size: 28px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}


#hero-gallery-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 350px;
}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding-top: 60px;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 48px;
}

.gallery-box {
	grid-column: 1/-1;
	background-color: #ddd;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
	position: relative;
}

#footer-newsletter2 {
	margin-top: 20px;
	height:40px;
	grid-column: 1/3;
	background-color: #ddd;
}

.character_name {
	text-align: center;
	font-size: 40px;
	margin-top: 3px;
	margin-bottom: 0;
}

.gallery_text {
	text-align: center;
	font-size: 28px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 13px;
}

.gallery_text2 {
	text-align: center;
	font-size: 28px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 13px;
}

.gallery_text3 {
	text-align: center;
	font-size: 26px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 13px;
}

.source {
	text-align: center;
	font-size: 24px;
	position: absolute;
	bottom: 3px;
	left: 0;
	right: 0;
}

#more {
	grid-column: 4/-1;
	font-size: 28px;
	padding-bottom: 10px;
}

.lightbox {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.85);
	margin:0 auto;
  }
  
  .lb_close {
	color: rgb(255, 255, 255)!important;
	font-size: 48px;
	text-decoration: none;
	position: sticky;
	top: 10px;
	left: 97%;
  }
  
  .lb_close:hover {
	opacity: 0.5; 
  }

  .lightbox:target {
	display: block
  }

  .lightbox p {
	text-align: center;
	color: white;
	font-size: 28px;
	margin-left: 150px;
	margin-right: 150px;
  }